*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    background: #22C1C3;
    /* background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%); */
    background-image: linear-gradient( 126.6deg,  rgba(44,115,210,1) 3.4%, rgba(251,234,255,1) 127.9% );
}

#navContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
}

#logoimg{
    width: 140px;
}

#bookmark{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

a{
    color: aliceblue;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( 109.6deg,  rgba(75,228,255,1) 11.2%, rgba(188,204,251,1) 100.6% );
}

.content{
    width: 70%;
    margin: auto;
    border: 1px solid black;
}

.footerbox{
    border: 2px solid black;
    text-align: center;
    background-image: linear-gradient( 126.6deg,  rgba(44,115,210,1) 3.4%, rgba(251,234,255,1) 127.9% );
    /* background-color: black; */
}