*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
.box{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    transition: all 4s linear 1ms;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.box:hover{
    /* transform: rotate(360deg); */
    /* transform: rotate(-360deg); */
    /* transform: scale(2); */
    /* transform: skew(30deg); */
    /* transform: skew(-30deg); */
    transform: translate(300px,400px);
}

p{
    font-size: larger ;
}