*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    background-color:;
    
}

#navcontent{
    background: #020024;
    background: linear-gradient(179deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}