*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(52, 49, 49);
    display: grid;
    padding: 4rem;
    /* row-gap: 1rem;
    column-gap: 1rem; */
    gap:0.5rem;
    /* grid-template-rows: 100px 100px; */
    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-rows: repeat(4,1fr); */
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
}

.item{
    background-color: blueviolet;
    border: 1px solid black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}



@media (min-width:800px){
    .container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .head , .foot{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .sidebaar{
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .content1{
        grid-column-start: 2;
        grid-column-end: 4;
    }
}