*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
}

#first{
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* justify-content: center; */
    /* align-items: center; */

}

button{
    width: 20%;
    margin: auto;
    /* position: fixed; */
}